.about_section {
  background-color: $secondaryColor;
  position: relative;
  height: 100vh;
  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 50%;
    width: 30%;
    height: 50%;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0rem;
  }
  h1 {
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 12rem;
    margin: 0 3rem;
    padding: 6rem 0;
    color: $thirdColor;
  }
  .about_line {
    flex-grow: 1;
    border-top: 3px solid $thirdColor;
  }
  .about_content {
    display: flex;
    flex-direction: row;
    margin: 0 3rem;
    color: $thirdColor;
    gap: 3rem;
    p {
      flex: 1;
      font-size: 2rem;
      line-height: 3rem;
      span {
        font-weight: 600;
        font-style: italic;
      }
    }
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 8rem;
    margin: 0 3rem;
    padding: 2rem 0;
    color: $thirdColor;
  }
  .about_techs {
    margin: 2rem 3rem;
    display: flex;
    div {
      flex: 1;
      h3 {
        text-align: center;
        font-size: 2rem;
        color: $thirdColor;
      }
    }
  }
}
