.about_section {
  background-color: $secondaryColor;
  position: relative;
  height: 100vh;
  &::before {
    position: absolute;
    content: "";
    z-index: 1;
    left: 50%;
    width: 30%;
    height: 50%;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0rem;
  }
  h1 {
    text-align: center;
    font-size: 15vw;
    width: fit-content;
    margin: 0 0 0 1vw;
    color: $thirdColor;
  }
  .about_content {
    display: flex;
    margin: 0 1vw 0 1vw;
    width: fit-content;
    color: $thirdColor;
    p {
      width: 50%;
      font-size: 3rem;
    }
  }
}
