.about_section {
  background-color: $secondaryColor;
  position: relative;
  height: fit-content;
  .about_content {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    color: $thirdColor;
    height: fit-content;
    h1 {
      display: flex;
      align-items: center;
      padding: 6rem 0 0 0;
      color: $thirdColor;
      .about_line {
        flex-grow: 1;
        border-top: 3px solid $thirdColor;
      }
    }
    .about_row {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      p {
        flex: 1;
        font-size: 2rem;
        line-height: 3rem;
        word-spacing: 1rem;
        word-break: break-all;
        span {
          font-weight: 600;
          font-style: italic;
        }
      }
    }
  }
  .about_techs {
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    box-sizing: border-box;
    h2 {
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      color: $thirdColor;
      .about_line {
        flex-grow: 1;
        border-top: 3px solid $thirdColor;
      }
    }
    .about_categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 3rem;
      height: fit-content;
      gap: 2rem;
      .about_category {
        display: flex;
        flex: 0 0 45rem;
        border-radius: 6px;
        background: #f2e8d5;
        box-shadow: inset 5px 5px 9px #e8dfcc, inset -5px -5px 9px #fcf1de;
        @include mobile {
          flex: 0 0 fit-content;
          justify-content: flex-start;
        }
        z-index: 2;
        align-items: center;

        h3 {
          text-align: center;
          font-size: 1.5rem;
          color: $thirdColor;
          transform: rotate(-90deg);
        }
        .about_stack {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          width: fit-content;

          figure {
            text-align: center;
            height: fit-content;
            margin: 2.5rem;
            figcaption {
              font-weight: 300;
              font-variant: small-caps;
            }
            svg,
            img {
              color: $thirdColor;
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }
  }
}
