.home_section {
  display: flex;
  height: 75vh;
}

.home_left,
.home_right {
  display: flex;
  h1 {
    margin: auto;
  }
}

.home_left {
  flex: 35%;
  background-color: $primaryColor;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/src/assets/noisy-background.png");
    background-size: contain;
    opacity: 0.15;
  }
}
.home_right {
  flex: 75%;
  background-color: #0c3a4d;
  opacity: 1;
  background-image: linear-gradient(#244d5e 1.3px, transparent 1.3px),
    linear-gradient(to right, #244d5e 1.3px, #0c3a4d 1.3px);
  background-size: 26px 26px;
}
