.home_section {
  display: flex;
  height: 100vh;
  @include mobile {
    flex-direction: column-reverse;
  }
  @include tablet {
    flex-direction: column-reverse;
  }
}

.home_left {
  flex: 35%;
  background-color: $primaryColor;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/src/assets/noisy-background.png");
    background-size: contain;
    opacity: 0.15;
  }
  img {
    z-index: 2;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    background: $primaryColor;
    box-shadow: 11px 11px 14px #d3574c, -11px -11px 14px #ff7162;
  }
}
.home_right {
  flex: 75%;
  display: flex;
  background-color: $thirdColor;
  opacity: 1;
  background-image: linear-gradient(#244d5e 1.3px, transparent 1.3px),
    linear-gradient(to right, #244d5e 1.3px, #0c3a4d 1.3px);
  background-size: 2.6rem 2.6rem;
  z-index: 2;
  div {
    margin: auto;
  }
  h1 {
    font-size: 10rem;
    width: min-content;
    color: $primaryColor;
    font-weight: 800;
  }
  h2 {
    font-size: 2.35rem;
    font-weight: 500;
    color: $secondaryColor;
  }
  ul {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 2rem;
    margin: 5rem 0 0 0;
    list-style-type: none;
  }

  tool-tip {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: $secondaryColor;
    border-radius: 8px;
    top: 100%;
    margin: 1rem 0 0 0;
    left: 12.5%;
    width: 70%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: $primaryColor;
  }

  :has(> tool-tip) {
    position: relative;
  }
  :has(> tool-tip):hover tool-tip {
    opacity: 1;
  }

  .home-react-icons {
    height: 8rem;
    width: 8rem;
    color: $secondaryColor;
    &:hover {
      transform: scale(1.2);
    }
  }
}
