.project_section {
  width: 100%;
  height: 100%;
  position: relative;
  .project_slides {
    display: flex;
    height: inherit;
    width: 200%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    input {
      display: none;
    }
    .project_slide {
      width: 50%;
      transition: 0.6s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        text-align: center;
        width: 80%;
        font-variant: small-caps;
      }
      .project_content {
        width: 80%;
        display: flex;
        flex-direction: row;
        p {
          color: $secondaryColor;
        }
        .project_resume {
          flex: 1;
          font-size: 2rem;
          line-height: 3rem;
          word-spacing: 1rem;
          padding: 4rem;
          box-sizing: border-box;
        }
        .project_subContent {
          flex: 1;
          padding: 4rem;
          box-sizing: border-box;
          h2 {
            font-size: 2.5rem;
            font-variant: small-caps;
            font-weight: 600;
            color: $secondaryColor;
          }
          .project_roles,
          .project_techs {
            margin: 2rem 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            span {
              background: #2f2f2f;
              font-size: 1.5rem;
              width: fit-content;
              color: $secondaryColor;
              font-variant: small-caps;
              padding: 0.5rem 2.5rem;
              border-radius: 20px;
            }
          }
        }
      }
    }
    /*Project 1 GreenLand*/
    #project_GreenLand1:checked ~ .slide_checked {
      margin-left: 0;
    }
    #project_GreenLand2:checked ~ .slide_checked {
      margin-left: -50%;
    }
    /*Project 2 Rick And Morty*/
    #project_Rick_and_Morty1:checked ~ .slide_checked {
      margin-left: 0;
    }
    #project_Rick_and_Morty2:checked ~ .slide_checked {
      margin-left: -50%;
    }
    /*Project 3 Pokedex*/
    #project_Pokedex1:checked ~ .slide_checked {
      margin-left: 0;
    }
    #project_Pokedex2:checked ~ .slide_checked {
      margin-left: -50%;
    }
    /*Project 4 Portfolio*/
    #project_Portfolio1:checked ~ .slide_checked {
      margin-left: 0;
    }
    #project_Portfolio2:checked ~ .slide_checked {
      margin-left: -50%;
    }
  }
  .project_navigation {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    .bar {
      width: 7rem;
      height: 1.7rem;
      border: 0.2rem solid $secondaryColor;
      margin: 0.6rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: 0.6s;
      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}

.project_GreenLand {
  background-color: $greenLandColor;
  h1 {
    color: $greenLandh1;
  }
}

.project_Rick_and_Morty {
  background-color: $Rick_and_MortyColor;
  h1 {
    color: $Rick_and_Mortyh1;
  }
}

.project_Pokedex {
  background-color: $PokedexColor;
  h1 {
    color: $Pokedexh1;
  }
}

.project_Portfolio {
  background-color: $primaryColor;
  h1 {
    color: $secondaryColor;
  }
}
