.project_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_GreenLand {
  background-color: $greenLandColor;
  h1,
  h2 {
    color: $greenLandh1;
  }
}

.project_Rick_and_Morty {
  background-color: $Rick_and_MortyColor;
  h1,
  h2 {
    color: $Rick_and_Mortyh1;
  }
}

.project_Pokedex {
  background-color: $PokedexColor;
  h1,
  h2 {
    color: $Pokedexh1;
  }
}

.project_Portfolio {
  background-color: $primaryColor;
  h1,
  h2 {
    color: $secondaryColor;
  }
}
