@import "../abstracts/variables";

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 8rem;
}

* {
  font-family: $fontFamily;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

html {
  height: 100dvh;
  font-size: 62.5%;
  @include mobile {
    font-size: 4.8px; //30% modification because IPHONES!
  } //1rem = 10px
  @include tablet {
    font-size: 8px; //50%
  }
  @include iphoneMini {
    font-size: 4px; //25%
  }
}
