@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mobileMenu {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1079px) {
    @content;
  }
}

@mixin iphoneMini {
  @media screen and (max-width: 374px) {
    @content;
  }
}

@mixin animation-mixin($name) {
  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(10rem);
    }
    60% {
      opacity: 1;
      transform: translateX(-2rem);
    }
    80% {
      transform: translateX(1rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    from {
      top: -100%;
    }
    to {
      top: -6rem;
    }
  }

  @keyframes slideUp {
    from {
      bottom: -100%;
    }
    to {
      bottom: -6rem;
    }
  }
}
