@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

/*Theme Colors*/
$primaryColor: #f26457;
$secondaryColor: #f2e8d5;
$thirdColor: #0c3a4d;

/*Theme Colors per Project*/
$greenLandColor: #8cb799;
$greenLandh1: #d0e0d5;

$Rick_and_MortyColor: #42b4ca;
$Rick_and_Mortyh1: #bbd93d;

$PokedexColor: #c01e2e;
$Pokedexh1: #2c70b4;

$fourthColor: #006c77;
$fifthColor: #00a086;
$sixthColor: #82d17c;
$seventhColor: #f9f871;

/*SVG Background Patterns*/
$fontFamily: "Raleway", Arial, san-serif;
$LogoFont: "Seaweed Script", cursive;
