/*Theme Colors*/
$primaryColor: #f26457;
$secondaryColor: #273a73;
$secondaryColorLight: #3c4d81;
$thirdColor: #f2e8d5;
$fifthColor: #0b0e17;
$sixthColor: #0c3a4d;
$sevenColor: #006c77;
$eigthColor: #00a086;
$ninthColor: #82d17c;
$tenColor: #f9f871;

/*SVG Background Patterns*/
$fontFamily: "Raleway", Arial, san-serif;
