@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");

/*Theme Colors*/
$primaryColor: #f26457;
$secondaryColor: #f2e8d5;
$thirdColor: #0c3a4d;

$fourthColor: #006c77;
$fifthColor: #00a086;
$sixthColor: #82d17c;
$seventhColor: #f9f871;

/*SVG Background Patterns*/
$fontFamily: "Raleway", Arial, san-serif;
$LogoFont: "Seaweed Script", cursive;
