.app_main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  section {
    scroll-snap-align: start;
  }
  scroll-behavior: smooth;
}
.app_main::-webkit-scrollbar {
  width: 0.7rem;
}

.app_main::-webkit-scrollbar-thumb {
  background-color: $primaryColor;
  border-radius: 0.2rem;
}

.app_main::-webkit-scrollbar-track {
  background-color: $thirdColor;
}
