@import "../abstracts/variables";

.app_gridGlobal {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  * {
    height: 100vh;
  }
}

.home_left {
  grid-area: 1 / 1 / 2 / 2;
  background-color: $thirdColor;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: url("/src/assets/noisy-background.png");
    background-size: contain;
    opacity: 0.1;
  }
}
.home_right {
  grid-area: 1 / 2 / 2 / 3;
  background-image: url("/src/assets/svg/backgroundHome.svg");
  background-size: cover;
  background-position: center bottom;
}
.div3 {
  grid-area: 2 / 1 / 3 / 3;
}
.div4 {
  grid-area: 3 / 1 / 4 / 3;
}
.div5 {
  grid-area: 4 / 1 / 5 / 3;
}
.div6 {
  grid-area: 5 / 1 / 6 / 3;
}
