@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");
/*Theme Colors*/
/*SVG Background Patterns*/
@import url("https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap");
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 8rem;
}

* {
  font-family: "Raleway", Arial, san-serif;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 767px) {
  html {
    font-size: 30%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  html {
    font-size: 50%;
  }
}

/*Theme Colors*/
/*SVG Background Patterns*/
.app_main {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.app_main section {
  scroll-snap-align: start;
}

.app_main::-webkit-scrollbar {
  width: 0.7rem;
}

.app_main::-webkit-scrollbar-thumb {
  background-color: #f26457;
  border-radius: 0.2rem;
}

.app_main::-webkit-scrollbar-track {
  background-color: #0c3a4d;
}

.home_section {
  display: flex;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .home_section {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .home_section {
    flex-direction: column-reverse;
  }
}

.home_left {
  flex: 35%;
  background-color: #f26457;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_left::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/src/assets/noisy-background.png");
  background-size: contain;
  opacity: 0.15;
}
.home_left img {
  z-index: 2;
  width: 25rem;
  height: 25rem;
  padding: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  background: #f26457;
  box-shadow: 11px 11px 14px #d3574c, -11px -11px 14px #ff7162;
}

.home_right {
  flex: 75%;
  display: flex;
  background-color: #0c3a4d;
  opacity: 1;
  background-image: linear-gradient(#244d5e 1.3px, transparent 1.3px), linear-gradient(to right, #244d5e 1.3px, #0c3a4d 1.3px);
  background-size: 2.6rem 2.6rem;
  z-index: 2;
}
.home_right div {
  margin: auto;
}
.home_right h1 {
  font-size: 10rem;
  width: -moz-min-content;
  width: min-content;
  color: #f26457;
  font-weight: 800;
}
.home_right h3 {
  font-size: 2.35rem;
  font-weight: 500;
  color: #f2e8d5;
}
.home_right ul {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 2rem;
  margin: 5rem 0 0 0;
  list-style-type: none;
}
.home_right tool-tip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #f2e8d5;
  border-radius: 8px;
  top: 100%;
  margin: 1rem 0 0 0;
  left: 12.5%;
  width: 70%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: #f26457;
}
.home_right :has(> tool-tip) {
  position: relative;
}
.home_right :has(> tool-tip):hover tool-tip {
  opacity: 1;
}
.home_right .home-react-icons {
  height: 8rem;
  width: 8rem;
  color: #f2e8d5;
}
.home_right .home-react-icons:hover {
  transform: scale(1.2);
}

.nav_cont_global {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 4;
  width: calc(100% - 0.7rem);
  box-sizing: border-box;
  height: 6rem;
  background-color: transparent;
}
.nav_cont_global .nav_logo {
  font-family: "Seaweed Script", cursive;
  font-size: 3rem;
  font-weight: 100;
}
.nav_cont_global .nav {
  display: flex;
  width: 50rem;
  justify-content: space-between;
  font-size: 1.8rem;
  list-style-type: none;
}
.nav_cont_global .nav a {
  text-decoration: none;
  position: relative;
  padding-bottom: 0.2rem;
}
.nav_cont_global .nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.4rem;
  border-radius: 4px;
  background-color: #f26457;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav_cont_global .nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.about_section {
  background-color: #f2e8d5;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.about_section .about_content {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  color: #0c3a4d;
  height: -moz-fit-content;
  height: fit-content;
}
.about_section .about_content h1 {
  display: flex;
  align-items: center;
  padding: 6rem 0 0 0;
  color: #0c3a4d;
}
.about_section .about_content h1 .about_line {
  flex-grow: 1;
  border-top: 3px solid #0c3a4d;
}
.about_section .about_content .about_row {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.about_section .about_content .about_row p {
  flex: 1;
  font-size: 2rem;
  line-height: 3rem;
  word-spacing: 1rem;
  word-break: break-all;
}
.about_section .about_content .about_row p span {
  font-weight: 600;
  font-style: italic;
}
.about_section .about_techs {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  box-sizing: border-box;
}
.about_section .about_techs h2 {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  color: #0c3a4d;
}
.about_section .about_techs h2 .about_line {
  flex-grow: 1;
  border-top: 3px solid #0c3a4d;
}
.about_section .about_techs .about_categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  height: -moz-fit-content;
  height: fit-content;
  gap: 2rem;
}
.about_section .about_techs .about_categories .about_category {
  display: flex;
  flex: 0 0 45rem;
  border-radius: 6px;
  background: #f2e8d5;
  box-shadow: inset 5px 5px 9px #e8dfcc, inset -5px -5px 9px #fcf1de;
  z-index: 2;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .about_section .about_techs .about_categories .about_category {
    flex: 0 0 fit-content;
    justify-content: flex-start;
  }
}
.about_section .about_techs .about_categories .about_category h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #0c3a4d;
  transform: rotate(-90deg);
}
.about_section .about_techs .about_categories .about_category .about_stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
}
.about_section .about_techs .about_categories .about_category .about_stack figure {
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2.5rem;
}
.about_section .about_techs .about_categories .about_category .about_stack figure figcaption {
  font-weight: 300;
  font-variant: small-caps;
}
.about_section .about_techs .about_categories .about_category .about_stack figure svg,
.about_section .about_techs .about_categories .about_category .about_stack figure img {
  color: #0c3a4d;
  width: 4rem;
  height: 4rem;
}

.projects_section {
  background-color: #0c3a4d;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.projects_section::before {
  position: absolute;
  content: "";
  top: -50vh;
  left: -100vh;
  width: 200vh;
  height: 200vh;
  border-radius: 50%;
  background: #f2e8d5;
}
@media screen and (max-width: 767px) {
  .projects_section::before {
    left: -50vw;
    top: -100vw;
    width: 200vw;
    height: 200vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .projects_section::before {
    left: -50vw;
    top: -100vw;
    width: 200vw;
    height: 200vw;
  }
}
.projects_section h1 {
  position: absolute;
  color: #0c3a4d;
  top: calc(50% - 6rem);
}
@media screen and (max-width: 767px) {
  .projects_section h1 {
    top: calc(25% - 6rem);
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1299px) {
  .projects_section h1 {
    top: calc(25% - 6rem);
    width: 100%;
    text-align: center;
  }
}

.contact_section {
  background-color: #f2e8d5;
  position: relative;
  height: 100vh;
}/*# sourceMappingURL=styles.css.map */